@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  font-family: "DM Sans";
  height: auto;
}

@media (min-width: 640px) {
  html {
    padding: 40px 100px 40px 100px;
  }
}
@media not all and (min-width: 640px) {
  html {
      padding: 1rem /* 16px */;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: none;
}
::-webkit-scrollbar-thumb:hover {
  background: none;
}
